body { padding: 0; margin: 0; overflow: hidden; }
#unity-container { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
#unity-canvas { width: 100%; height: 100%; display: block; background: #000; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; text-align: center; }
#unity-text-loading { font-family: sans-serif; color: #888; font-size: 14px; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
